* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffff;
  color: #333;
  line-height: 1.6;
}

header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 1rem 2rem;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #e9b39c;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #d18b6f;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 0 10%;
}

.hero-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: #e9b39c;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: white;
  font-weight: bold;
  padding: 0.8rem 1.8rem;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  transition: transform 0.2s ease;
}

.btn::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
}

.btn:hover {
  transform: translate(3px, 3px);
}

.sobre {
  background-color: #f5cdbd;
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1000px;
  background-color: #f5cdbd;
  border: 3px solid #f8e2da;
  border-radius: 15px;
  padding: 3rem;
  box-shadow: inset 0 0 0 3px #f8e2da;
}

.sobre h2 {
  font-family: 'Playfair Display', serif;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

.sobre-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.sobre-imagem img {
  width: 220px;
  border-radius: 10px;
}

.sobre-texto {
  max-width: 450px;
}

.sobre-texto p {
  color: #fff;
  margin-bottom: 2rem;
  font-family: 'Playfair Display', serif;
}

.projetos {
  background-color: #fff;
  padding: 5rem 10%;
  text-align: center;
}

.projetos h1 {
  font-family: 'Playfair Display', serif;
  color: #e9b39c;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.linha {
  width: 100px;
  height: 4px;
  background-color: #e9b39c;
  margin: 0 auto 3rem auto;
  border-radius: 5px;
}

.projeto-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  border: 2px;
  border-radius: 15px;
  padding: 2rem;
  margin-bottom: 3rem;
  gap: 2rem;
  transition: 0.3s ease;
}

.projeto-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.projeto-item img {
  width: 280px;
  border-radius: 10px;
}

.texto {
  max-width: 500px;
  text-align: left;
}

.texto h2 {
  font-size: 1rem;
  color: #e9b39c;
  text-transform: uppercase;
  margin-bottom: 0.5;
}

.texto h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.texto p {
  color: #555;
  margin-bottom: 1.5rem;
}

.texto button {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease;
}

.texto button:hover {
  transform: translate(3px, 3px);
}

.footer {
  background-color: #f5cdbd;
  padding: 4rem 2rem;
  color: #fff;
  text-align: center;
}

.footer-content h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 2rem;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.contact-info h3 {
  margin-bottom: 0.5rem;
}

hr {
  border: 0;
  border-top: 1px solid #f8e2da;
  margin: 2rem 0;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-bottom .links a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.5rem;
}


@media (max-width: 768px) {
  .projeto-item {
    flex-direction: column;
    text-align: center;
  }
}
